HA_URL=http://homeassistant:8123
HA_TOKEN=your_long_lived_access_token

HA_AUTO_DISCOVER=true
HA_ENTITY_IDS=
HA_ENTITY_DOMAIN=binary_sensor
HA_DEVICE_CLASS=safety
HA_ENTITY_ID_SUFFIX=
HA_TRIGGER_FROM=
HA_TRIGGER_TO=on
HA_RECONNECT_SECONDS=5
HA_REFRESH_ENTITIES_ON_RECONNECT=false
HA_SYNC_HISTORY_HOURS=24

BUTTON_SOUND=sound/1.mp3
SOUND_PLAY_SECONDS=25
ACK_BUTTON_TEXT=ФА
HISTORY_DB_PATH=data/press_history.db
HISTORY_DEDUP_SECONDS=3

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me

APP_DOWNLOAD_DIR=static/downloads
APP_DOWNLOAD_FILENAME=PereHomeLabKiosk.exe
